{% extends "base.html" %}

{% block title %}Add Donor{% endblock %}

{% block content %}

<div class="container mt-4">

<h2>Add New Donor</h2>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.full_name.label }}
        {{ form.full_name(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.mobile.label }}
        {{ form.mobile(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="mb-3">
    {{ form.dob.label(class="form-label") }}
    {{ form.dob(class="form-control") }}
</div>

<div class="mb-3">
    {{ form.pan_number.label(class="form-label") }}
    {{ form.pan_number(class="form-control", placeholder="ABCDE1234F") }}
</div>

    <div class="mb-3">
        {{ form.address.label }}
        {{ form.address(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.city.label }}
        {{ form.city(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.state.label }}
        {{ form.state(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.pincode.label }}
        {{ form.pincode(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.donor_type.label }}
        {{ form.donor_type(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.notes.label }}
        {{ form.notes(class="form-control") }}
    </div>

    <div class="form-check mb-3">
        {{ form.status(class="form-check-input") }}
        {{ form.status.label(class="form-check-label") }}
    </div>
    
    
    {{ form.submit(class="btn btn-primary") }}

</form>

</div>

{% endblock %}